---
---

@import "{{ site.theme }}";
.header-logo {
    width: 100px;
}
.page-header {
	color: #fff;
	text-align: center;
	background-color: #91CFDF;
	background-image: linear-gradient(165deg, #91CFDF,#0079B6);
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color:   #0079B6;
}
.f5 {
    font-size: 14px !important;
}
.p-3 {
    padding: 16px !important;
}
.mb-4 {
    margin-bottom: 24px !important;
}
.bg-blue-light {
    background-color: 
    #f1f8ff !important;
}
.rounded-1 {
    border-radius: 3px !important;
}
.border-blue {
    border-color: 
    #0366d6 !important;
}
.border {
    border: 1px 
    #e1e4e8 solid !important;
        border-top-color: rgb(225, 228, 232);
        border-right-color: rgb(225, 228, 232);
        border-bottom-color: rgb(225, 228, 232);
        border-left-color: rgb(225, 228, 232);
}
* {
    box-sizing: border-box;
}