---
---

@import "{{ site.theme }}";
.header-logo {
    width: 100px;
}
.page-header {
	color: #fff;
	text-align: center;
	background-color: #91CFDF;
	background-image: linear-gradient(165deg, #91CFDF,#0079B6);
}
